@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap");

/* Global Reset (Ensures Consistency Across Browsers) */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* CSS Variables (Custom Properties) */
:root {
	color-scheme: light;

	--body-font: "Lato", sans-serif;
	--heading-font: "Oswald", serif;
	--background: linear-gradient(to bottom, var(--colour-4), var(--colour-1));
	--border-radius: 5px;
	--box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	--footer-height: 180px;

	/* New Color Variables */
	--colour-1: #40798cff;
	--colour-2: #97f9f9;
	--colour-3: #dc0000;
	--colour-4: #1f363dff;
	--colour-5: #c8fffd;
	--colour-6: #32ba10;
	--colour-7: #ffffff;
	--blur: rgba(0, 0, 0, 0.2);
}

/* Base Layout */
html {
	max-width: 100vw;
	overflow-x: hidden;
	background: #f9fafb;
	height: 100%;
}

body {
	background-color: #f9fafb;
	font-family: var(--body-font);
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 3rem 0 0 0;
	box-sizing: border-box;
}

/* Main Content Area */
main {
	flex: 1;
	display: block;
	width: 100%;
	padding: 0;
	background-color: #f9fafb;
}

.container {
	background: var(--colour-4);
	padding: 0 1.2rem;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	text-align: center;
	background-color: #f9fafb;
}

/* Sections & Lists */
.section {
	background: var(--colour-7);
	margin: 0 auto;
	padding: 1rem 1rem;
	width: 100%;
	max-width: 1400px;
	min-height: 80vh;
}

/* Typography */
h1,
h2,
h3,
h4 {
	font-family: var(--heading-font);
	margin-bottom: 0.3rem;
}

h4,
body,
p,
a,
input,
textarea,
button {
	font-family: var(--body-font);
}

h1 {
	font-size: 2.6rem;
	font-weight: 400;
	color: var(--colour-4);
}

h2 {
	font-size: 1.8rem;
	font-weight: 300;
	color: var(--colour-4);
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--colour-4);
}

h4 {
	font-size: 1.2rem;
	font-weight: 100;
	color: var(--colour-4);
}

p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--colour-4);
}

.view-all-records h2 {
	text-transform: uppercase;
	color: var(--colour-7);
	background: var(--colour-4);
	margin: 10px 15%;
	padding: 5px;
	border: 4px solid var(--colour-2);
}

/* Basket */

.basket-wrapper {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.basket-link {
	position: relative;
	display: flex;
	align-items: center;
	color: var(--colour-7);
	text-decoration: none;
	font-size: 1.5rem;
}

.basket-count {
	position: absolute;
	top: -5px;
	right: -10px;
	background-color: var(--colour-3);
	color: var(--colour-7);
	font-size: 12px;
	font-weight: bold;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Links */
Link,
a,
.hyperLink {
	color: var(--colour-1);
	font-weight: bold;
	text-decoration: none;
	transition: opacity 0.3s ease;
}

Link:hover,
a:hover,
.hyperLink:hover {
	color: var(--colour-6);
	opacity: 0.9;
	text-decoration: underline solid;
}

/* Navigation Bar */
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--colour-4);
	padding: 0.8rem 1.5rem;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.menu-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

/* Logo (optional) */
.menu .menu-logo a {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--colour-5);
}

img.logo {
	border-radius: 50%;
}

/* Navigation links (desktop) */
.nav-links {
	list-style: none;
	display: flex;
	gap: 2rem;
	margin: 0 auto;
	padding: 0;
	white-space: nowrap;
}

.nav-links li a,
li {
	font-size: 1rem;
	font-weight: 500;
	color: var(--colour-7);
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-links li.active a {
	text-decoration: underline;
}

.nav-links li a:hover {
	color: var(--colour-2);
}

/* Burger Icon - hidden on larger screens */
.burger {
	display: none;
	font-size: 1.5rem;
	color: var(--colour-7);
	cursor: pointer;
}
/* Footer */
.footer {
	background: var(--colour-4);
	padding: 0.8rem 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	text-align: left;
	line-height: 1.6;
	margin-top: auto;
}

.footer ul {
	list-style: none;
	margin: 0;
	text-align: right;
	line-height: 1.6;
}

.footer a,
.footer p {
	font-size: 1.1rem;
	color: var(--colour-7);
	font-weight: lighter;
}

.footer-icon {
	font-size: 0.2rem; /* Adjust as needed */
	vertical-align: middle;
	margin-right: 0.5rem;
}

.footer-icon a svg {
	width: 1rem;
	height: 1rem;
}

/* Social Links */
.socialWrapper {
	display: inline-block;
}

.socialLinks {
	display: flex;
	gap: 1.5rem;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
}

.socialLinks a {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--colour-5);
}

.socialLinks a:hover {
	transform: scale(1.2);
}

.socialLinks a svg {
	width: 4rem;
	height: 4rem;
}

/* Modal */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--blur);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modalContent {
	background: var(--colour-7);
	padding: 1rem;
	border-radius: var(--border-radius);
	max-width: 600px;
	width: 90%;
	position: relative;
	text-align: center;
}

.modal-image {
	max-width: 500px;
	height: auto;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
}

.closeButton {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background: transparent;
	border: none;
	font-size: 2.5rem;
	color: var(--colour-4);
	cursor: pointer;
}

.modal-image-container {
	position: relative;
	margin-bottom: 1rem;
}

/* Generic class to ensure buttons float above the image */
.modal-above-image {
	position: absolute;
	z-index: 2; /* Ensure the buttons appear above the Swiper slides */
}

/* Top-left corner */
.modal-top-left {
	top: 2rem;
	left: 5rem;
}

/* Top-right corner */
.modal-top-right {
	top: 2rem;
	right: 5rem;
}

/* Contact Info Layout */
.contact-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Contact Form Styling */
.form {
	background: var(--colour-1);
	border-radius: var(--border-radius);
	padding: 1rem;
	max-width: 600px;
	margin: 2rem auto;
	box-shadow: var(--box-shadow);
	text-align: left;
}

.form label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 500;
	color: var(--colour-7);
}

.form input,
.form textarea {
	width: 100%;
	padding: 0.75rem;
	border: 1px solid var(--colour-4);
	border-radius: var(--border-radius);
	margin-bottom: 1rem;
	font-family: inherit;
	font-size: 1rem;
}

.form input:focus,
.form textarea:focus {
	outline: none;
	border-color: var(--colour-2);
}

/* Order  Form Styling */
.order-form {
	background: var(--colour-7);
	padding: 0.1rem;
	max-width: 80%;
	margin: 0rem auto;
	text-align: left;
}

.order-form label {
	display: block;
	margin-bottom: 0.2rem;
	font-weight: 400;
	font-family: inherit;
	font-size: 0.8rem;
	color: var(--colour-4);
}

.order-form input,
.order-form textarea {
	width: 100%;
	padding: 0.2rem;
	border: 1px solid lightgrey;
	margin-bottom: 0.1rem;
	font-family: inherit;
	font-size: 1rem;
}

.order-form input:focus,
.order-form textarea:focus {
	outline: none;
	border: 1px solid var(--colour-4);
	background: var(--colour-7);
}

/* Two-column layout for image & opening hours */
.info-container {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	flex-wrap: wrap; /* Allows stacking on smaller screens */
}

/* Left column (Map) */
/* Map Styling */
.map {
	flex: 1;
	max-width: 405px;
}

.map iframe {
	width: 100%;
	height: 270px;
	border-radius: var(--border-radius);
	border: none;
}

/* Right column (Image) */
.shop-image-container {
	flex: 1;
	max-width: 405px;
	text-align: center;
}

/* Opening Hours */
.opening-hours-container {
	width: 100%;
	max-width: 400px;
	padding: 1rem;
	margin: 0 auto;
}

/* Ensure table is styled properly */
.opening-hours {
	width: 100%;
	border-collapse: collapse;
	background: var(--colour-1);
	color: var(--colour-7);
	padding: 1rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	text-align: left;
	margin: auto;
}

.opening-hours td {
	padding: 0.5rem 1rem;
	border-bottom: 1px solid var(--colour-4);
}

.opening-hours td:last-child {
	text-align: right;
	font-weight: bold;
	color: var(--colour-7);
}

/* Google Reviews Section */
.reviews-section {
	text-align: center;
	padding: 0.5rem 0.1rem;
	background: var(--colour-7);
	max-width: 90%;
	margin: auto;
}

/* Review Container */
.review-container {
	position: relative;
	min-height: 60px;
	padding: 0.2rem;
}

/* Star Rating */
.review-rating {
	display: block;
	font-size: 1rem;
	color: #ffb400;
}

/* Review Text */
.review-text {
	font-size: 1.2rem;
	font-weight: 200;
	color: var(--colour-4);
	line-height: 1.2;
	font-style: italic;
	margin-bottom: 0.4rem;
}

/* Universal Responsive Image */
.responsive-image {
	width: 100%;
	height: auto;
	max-height: 300px;
	object-fit: contain;
	object-position: center;
	display: block;
}

/* Grid Layout for Records */
.records-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
	gap: 0.8rem;
	padding: 0.2rem;
	max-width: 1200px;
	margin: auto;
	justify-content: center;
	list-style: none;
}

.record-card {
	position: relative;
	background: var(--colour-7);
	padding: 0.2rem;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: transform 0.2s;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: left;
	border: 2px solid var(--colour-7);
}

.record-card:hover {
	border: 2px solid var(--colour-4);
}

.record-card-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.record-image-container {
	position: relative; /* Needed for absolute positioning of price */
	display: flex;
	align-items: center;
	justify-content: center;
}

.record-image {
	align-items: center;
	max-width: 240px;
	max-height: 240px;
	width: auto;
	display: block;
	aspect-ratio: 1 / 1;
	margin: auto;
}

.record-price {
	position: absolute;
	top: 0px;
	left: 0px;
	background: black;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 0;
}

.record-details {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 100%;
	padding: 0 0.2rem;
	position: relative; /* Needed for absolute positioning of buttons */
}

.featured-record {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two equal columns */
	gap: 0rem;
	align-items: center;
	margin-bottom: 0rem;
	background: var(--background);
	padding: 0 1.2rem;
	box-shadow: var(--box-shadow);
}

.featured-record-details p,
.featured-record-details h3,
.featured-record-details em {
	color: var(--colour-7);
	font-weight: 100;
	line-height: 1.5;
	text-align: left;
	margin-bottom: 1rem;
}

.featured-record-details h3 {
	margin-bottom: 15px;
	text-align: center;
}

.featured-record-details {
	min-width: 0;
	overflow-wrap: break-word;
	padding: 0rem;
	margin-left: 2rem;
}

.featured-record-cover {
	color: var(--colour-7);
	max-width: 100%;
	height: auto;
	padding: 0rem;
	display: block;
}

.swiper-slide {
	display: flex;
	justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Move the prev arrow to the left */
.swiper-button-prev {
	left: 1;
}

/* Move the next arrow to the right */
.swiper-button-next {
	right: 0;
}

.swiper {
	padding: 0 40px;
}

/* Button Container */
.record-actions {
	position: absolute;
	top: -50px;
	right: 0px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.record-title,
.artist-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 240px;
	display: block;
}

/* Filter Menu*/
.filter-menu {
	text-align: center;
	margin-top: 0.1rem;
	margin-bottom: 1.2rem;
}

.filter-menu .filter-toggle {
	display: none;
	background: var(--colour-4);
	color: var(--colour-7);
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	padding: 0.5rem 1rem;
}

.filter-controls {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	margin-bottom: 1rem;
}

.filter-controls input,
.filter-controls select {
	width: 120px;
	padding: 0.5rem 0.2rem;
	border: 1px solid var(--colour-4);
	border-radius: var(--border-radius);
	box-sizing: border-box;
}

.filter-controls button,
.clear-filters-button,
.form button,
.pagination button,
.remove-button,
.clear-button,
.buy-button,
.basket-button,
.order-form button {
	color: var(--colour-7);
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	padding: 0.3rem 1rem;
	transition: background 0.3s ease;
	transition: box-shadow 0.3s ease;
}

.filter-controls button,
.form button,
.pagination button {
	background: var(--colour-4);
}

.clear-filters-button,
.clear-button,
.remove-button {
	background: darkslategray;
}

.remove-button {
	background: #007bff;
}

/* Styling for both buttons */
.record-actions button,
.modal-above-image {
	border: none;
	padding: 4px 2px;
	font-size: 12px;
	width: 75px;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	text-align: center;
}

/* Buy Button (Green) */
.buy-button,
.order-form button {
	background: var(--colour-6);
}

/* Add to Basket Button (Light Blue) */
.basket-button {
	background: #007bff;
}

.form button,
.order-button,
.payment-button,
.clear-button {
	display: block;
	margin: 0.3rem auto 0;
}

.filter-controls button:hover,
.clear-filters-button:hover,
.form button:hover,
.pagination button:hover:enabled,
.remove-button:hover,
.buy-button:hover,
.basket-button:hover,
.order-form button:hover,
.record-actions button:hover {
	font-weight: bolder;
	box-shadow: 0 0 8px var(--blur);
	background: black;
}

.pagination button:disabled {
	opacity: 0.8;
	cursor: not-allowed;
}

/* Basket Page */

/* Two-Column Layout */
.basket-two-column-layout {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two equal columns */
	gap: 1rem;
	align-items: start;
	margin-bottom: 0rem;
}

.basket-list {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	text-align: left;
}

/* Individual Basket Item */
.basket-item {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem;
	width: 100%;
	font-size: 0.8rem;
}

.basket-item p,
.basket-item h4 {
	font-size: 0.9rem;
}

.basket-item .remove-button {
	margin: 0rem;
	padding: 0.2rem;
	font-size: 0.7rem;
}

.basket-bill {
	padding-left: 10%;
	max-width: 90%;
}

.bill-line {
	display: flex;
	justify-content: space-between;
}

.bill-line .label {
	text-align: left;
}

.bill-line .amount {
	text-align: right;
}

.returns-policy {
	background-color: var(--colour-7);
	border: none;
	color: var(--colour-4);
	font-style: italic;
	text-decoration: underline;
	font-family: inherit;
	font-size: 1rem;
}

/* Results */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.pagination span {
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-color);
}

/* Spotify */
.spotify-container {
	width: 100%;
	max-width: 500px;
	margin: 1rem auto;
}

.spotify-iframe {
	height: 352px;
	border: none;
}

/* Page Container */
.page-container {
	background: #f9fafb;
	padding: 1.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - var(--footer-height));
}

/* Page Title */
.page-title {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #222;
	margin-bottom: 1rem;
}

/* Content Box */
.content-box {
	background: var(--colour-7);
	max-width: 1100px;
	width: 90%;
	padding: 1rem;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}

.content-box-grid {
	max-width: 1100px;
	width: 90%;
}

/* Two-Column Layout */
.two-column-layout {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two equal columns */
	gap: 2rem;
	align-items: center;
	margin-bottom: 3rem;
}

/* Reverse Layout */
.reverse {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Keeps two columns */
}

.reverse .text-content {
	order: 2; /* Move text to the right */
}

.reverse .image-container {
	order: 1; /* Move image to the left */
}

.text {
	font-size: 1.1rem;
	color: var(--colour-4);
	font-weight: 400;
	line-height: 1.4;
	text-align: left;
	margin-bottom: 1rem;
}

.text-content {
	max-width: 500px;
	text-align: left;
	line-height: 1.8;
}

.text-content p {
	margin-bottom: 1.2rem;
}

.text-content em {
	display: block;
	margin-bottom: 1rem;
	font-style: italic;
}

.image-container {
	max-width: 500px;
}

hr {
	border: none;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

/* Responsive Adjustments */

@media (max-width: 1024px) {
	.two-column-layout,
	.reverse {
		grid-template-columns: 1fr; /* Single column layout */
		text-align: center;
	}

	.featured-record {
		grid-template-columns: 1fr;
		padding: 1.5rem;
	}

	.featured-record-details {
		margin-left: 0rem;
	}

	.text-content {
		max-width: 100%;
	}

	.image-container {
		max-width: 100%;
		text-align: center;
	}

	.image-container img {
		width: 100%;
		height: auto;
	}

	.filter-controls {
		flex-wrap: wrap; /* Prevents odd resizing */
		justify-content: center;
	}

	.nav-links li a,
	li {
		font-size: 0.8rem;
	}
}

@media (max-width: 768px) {
	.basket-two-column-layout {
		grid-template-columns: 1fr; /* Single column layout */
		text-align: center;
	}
	.content-box {
		padding: 2rem 0.5rem;
		width: 95%;
	}
	.content-box-grid {
		padding: 0;
		width: 95%;
	}
	.text-image-container {
		flex-direction: column;
		text-align: center;
	}
	.text-content {
		text-align: left;
		max-width: 100%;
	}
	.image-container {
		max-width: 100%;
		text-align: center;
	}
	.image-container img {
		width: 100%;
		height: auto;
	}

	.modal-image {
		max-width: 300px;
	}

	.modal-image-container {
		position: relative;
		margin-bottom: 1rem;
	}

	.modal-above-image {
		position: absolute;
		z-index: 2;
	}

	/* Top-left corner */
	.modal-top-left {
		top: 5rem;
		left: 2rem;
	}

	/* Top-right corner */
	.modal-top-right {
		top: 5rem;
		right: 2rem;
	}

	/* Show burger icon */
	.burger {
		display: block;
	}

	.menu .menu-logo a {
		display: none;
	}

	/* Hide nav links by default */
	.nav-links {
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: -25px;
		width: 200px;
		background: var(--background);
		text-align: center;
		display: none;
		padding: 2rem 0;
	}

	.nav-links.open {
		display: flex;
	}

	.nav-links li {
		text-align: left;
		padding-left: 2rem;
	}

	.nav-links li.active a {
		text-decoration: underline;
	}

	.logo,
	.record-image,
	.new-record-image {
		width: 100%;
		display: block;
		height: auto;
		margin: 0;
	}

	.footer {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.footer ul {
		text-align: center;
	}

	.container {
		padding: 0rem 0.2rem;
	}

	.section {
		padding: 1rem;
	}

	.record-card-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.responsive-image {
		max-height: 300px;
	}

	.info-container {
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	.shop-image-container {
		max-width: 100%;
	}

	.contact-info {
		flex-direction: column;
	}

	.map iframe {
		min-height: 150px;
		height: 200px;
		padding: 10px;
	}

	/* Show the toggle button on mobile */
	.filter-menu .filter-toggle {
		display: block;
		margin: 0.5rem auto;
	}
	.filter-controls {
		display: none;
		grid-template-columns: 1fr 1fr;
		gap: 0.8rem;
	}

	/* When open, display filter controls in mobile view */
	.filter-controls.open {
		display: flex;
	}
}
